.top
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 40px;
}

.leftcontent
{
    margin: 150px 20px;
    font-size: 25px;
}

.rightimage
{
    float: right;
    height: 500px;
    width: 90%;
    z-index: -1;
    background-color: #4378a0;
    border-radius: 50%;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
}

.image
{
    width: 90%;
    height: 85%;
}

img
{
    margin: 5% 7%;
}

@media (max-width: 1000px)
{
    .rightimage
    {
        float: right;
        height: 600px;
        width: 100%;
    }
}

@media (max-width: 900px)
{
    .rightimage
    {
        margin-left: -10%;
        width: 110%;
    }
}

@media (max-width: 765px)
{
    .top
    {
        display: block;
    }
    .rightimage
    {
        position: absolute;
        height: 800px;
        margin-left: 0%;
        width: 100%;
        left: 0%;
        top: 0%;
        border-radius: 0px 0px 10% 10%;
    }
    img
    {
        margin: 2% 5%;
        margin-left: 9%;
    }
    .image
    {
        margin: 120px 7%;
        height: 400px;
    }
    .leftcontent
    {
        text-align: center;
        margin-top: 450px;
        font-size: 30px;
    }
}

@media (max-width: 465px)
{
    .image
    {
        margin: 90px 7%;
        height: 300px;
    }
    .rightimage
    {
        position: absolute;
        height: 650px;
        margin-left: 0%;
        width: 100%;
        left: 0%;
        top: 0%;
        border-radius: 0px 0px 10% 10%;
    }
    .leftcontent
    {
        text-align: center;
        margin-top: 350px;
        font-size: 30px;
    }
}

@media (max-width: 376px)
{
    .leftcontent
    {
        text-align: center;
        margin-top: 350px;
        font-size: 25px;
    }
}

b
{
    margin-right: 20px;
}